.text{
   
    padding-bottom: 18px;
    
}
.circul{
    text-align: center;
    background-color: orange;
    height: 10px;
    width: 10px;
    border-radius: 50px 50px;
    position: relative;
}
.curcultext{
    font-size:xx-small;
    text-align: center;
    color: black;
}
.color{
    background-color: orange;
}
.fontcolor{
    color:  #FFCB45;
}
.button{
    background-color:  #FFCB45;
    border-color:  #FFCB45;
    color: black;

    
}
.texts{
    width:350px;
}